/* opciones fuentes (si queres agrega más y elegimos) */
/* nunito *kiditos* */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
/* balsamiq sans *kiditos* */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    /* fonts */
    --nunito: 'Nunito';
    --balsamiq-sans: 'Balsamiq Sans';
    --poppins: 'Poppins';
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    height: 15%;
}

main {
    height: 65%;
}

nav a {
    text-align: center;
    font-family: var(--balsamiq-sans);
}

footer {
    height: 20%;
}