/* opciones fuentes */
/* nunito *kiditos* */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
/* balsamiq sans *kiditos* */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    list-style: none;
}

:root {
    /* fonts */
    --nunito: 'Nunito';
    --balsamiq-sans: 'Balsamiq Sans';
    --poppins: 'Poppins';
    /* colors */
    --color0: #8ce0ad;
    --color1: #b79bd1;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    height: 15%;
}

main {
    height: 65%;
    margin-top: 10%;
}

/* nav */


.navBarIndex {
    z-index: 20;
}

nav a {
    text-align: center;
    font-family: var(--balsamiq-sans);
}

#logoNavBar {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

/* carousel */

.carousel-item img {
    height: 50vh;
    object-fit: cover;
    -o-object-fit: cover;
}

#carouselIndex button {
    color: black;
}


/* expositor */

h2 {
    text-align: center;
    font-family: var(--balsamiq-sans);
    font-size: 2.5rem;
    margin-top: 5%;
}


#expositorIndex {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-top: 2%;
}

#expositorIndex .card {
    height: 70%;
}

#expositorIndex .card img {
    height: 60%;
}

.card-text {
    font-family: var(--poppins);
}

.textoExpositor:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* SECCION PRODUCTOS */

.mainProductos {
    display: flex;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-items: center;
    -ms-flex-align: center;
    flex-direction: row;
    -ms-flex-direction: row;
}

.titleProductos {
    font-size: 2.5rem;
    font-family: var(--balsamiq-sans);
    text-align: center;
}

.stockProductos {
    width: 100%;
    display: flex;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-items: center;
    -ms-flex-align: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    gap: 8%;
}

.stockProductos div {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
}

.stockProductos div h5,
p,
a {
    font-family: var(--poppins);
}

.stockProductos div img {
    max-height: 250px;
}

.cardProductos {
    margin: 20px;
}


/* footer */

.footer {
    padding: 40px 0 10px;
    background-color: #E7EEEA;
    bottom: 0;
}

.footer .social {
    text-align: center;
    margin-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
    background: #000;
    color: #fff;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 50%;
}

.footer .social a:hover {
    opacity: 0.9;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    color: #24262b;
    background-color: #fff;
}

.footer ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    font-family: var(--balsamiq-sans);
}

.footer ul li a:hover {
    opacity: 1;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    color: #24262b;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

/* CARRITO */

#carrito {
    top: 10%;
    height: 100%;
    width: 30%;
    position: fixed;
    background-color: white;
    left: 70%;
    z-index: 1;
    padding-top: 60px;
}

#carrito h4 {
    margin-left: 36%;
    margin-top: 1px;
    line-height: 1.42;
    letter-spacing: -0.24px;
}

.colorCarritoActivado {
    background-color: red;
    color: white;
}

#precioTotalCarritoIndex {
    background-color: rgb(150, 204, 220);
    height: 8%;
    width: 50%;
    position: fixed;
    top: 73%;
    left: 25%;
    border-radius: 10px;
    text-align: center;
    padding-top: 14px;
}

#precioTotalCarritoIndex:hover {
    cursor: pointer;
    background-color: rgb(154, 196, 209);
}

#precioTotalCarritoIndex:active {
    background-color: rgb(142, 176, 186);
}

#precioTotalCarritoIndex a {
    text-decoration: none;
}

.contenedorBotonesCarrito i:hover {
    cursor: pointer;
}

.contenedorBotonesCarrito i:active {
    transform: scale(.9);
}

#precioTotalCarritoIndex h6 {
    color: white;
}

#vaciarCarritoIndex {
    position: fixed;
    top: 82%;
    left: 36%;
}

#vaciarCarritoIndex a {
    text-decoration: none;
    color: gray;
}

#vaciarCarritoIndex a:hover {
    color: black;
    cursor: pointer;
}


/* buscador */
.filtro {
    display: none;
}